{% load menu_tags %}

<ul class="vertical menu accordion-menu" data-accordion-menu style="list-style: none; margin-top: 3em;">
{% for item in menu_items %}
	<li class="menu-list-item">
		<a class="no-select menu-item" href="{{ item.href }}" style="color: white;">
			<h3><strong>{{ item }}</strong></h3>
		</a>
		{% if item.has_children_in_menu %}
		<ul class="menu vertical nested text-center">
            <li>{% sub_menu item template="includes/sub-menu.html" %}</li>
        </ul>
        {% endif %}
	</li>
{% endfor %}
</ul>
