{% load static %}

<header style="background: black;">
	<div class="grid-x">
		<div class="cell text-right">
			<a data-toggle="offCanvas"><i class="fi-list" style="position: fixed; color: #C8C8C8; font-weight: 200; font-size: 2.75rem; top: 15px; right: 20px; z-index: 12; text-shadow: 1px 1px black;"></i></a>
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell text-center" style="padding-top: 2em; padding-bottom: 2em;">
				<a href="/"><img src="{% static 'images/centerpointelogo.png' %}"/></a>
			</div>
		</div>
	</div>
</header>