{% load wagtailcore_tags wagtailimages_tags %}
<div class="grid-x staff-wrapper staff-block">
	<div class="cell small-12 medium-3 text-center staff-image-wrapper">
		{% image block.value.image fill-200x200 %}
	</div>
	<div class="cell small-12 medium-9 staff-content-wrapper">
		<div class="staff-container">
			<h3>{{ block.value.name }}</h3>
			<p>{{ block.value.title }}</p>
			<div>{{ block.value.content|truncatechars:300 }}</div>
			<div><button class="read-button" href="#" data-open="{{ block.id }}">&#43;</button>
			</div>
			<div class="large reveal" id="{{ block.id }}" data-reveal>
				<button class="close-button" data-close aria-label="Close modal" type="button" style="color: black;">
				  <span aria-hidden="true">&times;</span>
				</button>
				<h3>{{ block.value.name }}</h3>
				<div style="margin-top: 50px;">
				{{ block.value.content }}
				</div>
			</div>
		</div>
	</div>
</div>





