{% extends "base.html" %}

{% load app_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="grid-container">
	<h1 class="text-center event-page-title">{{ page.seo_title }}</h1>
	{% get_events as events %}
	{% for event in events %}
	<button href="#" data-open="eventmodal-{{ event.id }}">
	<div class="grid-x event-panel">
		<div class="medium-12 text-center">
			<h2>{{ event.title }} - {{ event.datetime|date:"d M Y" }} - {{ event.datetime|date:"P" }}</h2>
		</div>
		<div class="small-12 medium-4 text-center">
		<hr class="show-for-small-only">
			{% image event.image width-300 %}
		<hr class="show-for-small-only">
		</div>
		<div class="small-12 medium-8 text-left event-content">
			{{ event.summary|richtext|truncatewords:40 }}
		</div>
	</div>
	</button>

	<div class="large reveal" id="eventmodal-{{ event.id }}" data-reveal>
		<button class="close-button" data-close aria-label="Close modal" type="button" style="color: black;">
		  <span aria-hidden="true">&times;</span>
		</button>
		<div class="grid-x">
			<div class="small-12 large-3 text-center">
				<h3>{{ event.title }}</h3>
				<h4>{{ event.datetime|date:"d M Y" }} - {{ event.datetime|date:"P" }}</h4>
				<hr class="show-for-small-only">
				{% image event.image width-300 %}
				<hr class="show-for-small-only">
			</div>

			<div class="small-12 large-9 eventmodal-content">
				{{ event.summary|richtext }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}

{% block extra_css %}

<style>

.event-page-title {
	margin-top: .5em;
}

.event-panel {
	background-color: #E8E8E8;
	margin: 2.5em;
	padding: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.event-panel:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	cursor: pointer;
}

.event-content {
	padding: .5em;
}

.eventmodaltoggle {
	text-align: right;
}

</style>

{% endblock %}