{% extends "base.html" %}

{% load app_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="grid-container">
	<h1 class="text-center event-page-title">{{ page.seo_title }}</h1>
	{% get_events as events %}
	{% for event in events %}
	<div class="grid-x event-panel">
		<div class="medium-12 text-center">
			<h2>{{ event.title }} - {{ event.datetime|date:"d M Y" }} - {{ event.datetime|date:"P" }}</h2>
		</div>
		<div class="small-12 medium-4 text-center">
		<hr class="show-for-small-only">
			{% image event.image width-300 %}
		<hr class="show-for-small-only">
		</div>
		<div class="small-12 medium-8 text-left event-content">
			{{ event.summary|richtext }}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}