{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block content %}
<div class="grid-x grid-container">
    <div class="cell">
        <h1 class="form-page-header">{{ page.title }}</h1>
        {{ page.intro|richtext }}
        <form action="{% pageurl page %}" method="POST" class="contact-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="read-button" type="submit">
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'app/includes/footer.html' %}
{% endblock %}