{% extends "base.html" %}

{% load app_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="giving-wrapper">
	<div class="grid-x grid-container text-center">
		<div class="cell">
			<h1>Your Support</h1>
		</div>
		<div class="cell attention-grabber">
			<p>Our church is able to provide incredible programs, events, and outreach because of our congregation and their support. By supporting your church, you are directly impacting the future of our community and its spiritual health. Click the button below to give to Centerpointe Assembly.</p>
		</div>
		<div class="cell">
			<a href="http://app.clovergive.com/dl/?uid=cent1375162"><button class="cta-button">GIVE</button></a>
		</div>
	</div>
</div>
{% endblock %}