{% extends "base.html" %}

{% load static app_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="homepage_parallax_1">
	<section class="transparent-section">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell text-center" style="color: black; padding-top: 6em; padding-bottom: 6em;">
					<h1>Welcome to Centerpointe Assembly</h1>
					<a href="/about-us/"><button class="cta-button">Learn More</button></a>
				</div>
			</div>
		</div>
	</section>
</div>


<section>
		<div class="grid-x grid-container">
			<div class="cell homepage_tile" data-aos="slide-left"
 data-aos-easing="ease-out-cubic"
 data-aos-duration="1000">
					<h4 style="color: #333;">Welcome to CenterPointe Assembly! We are a spirit filled, outreach, and missions centered church community located in the heart of the Mobile, Alabama metropolitan area. As you browse through this site you will find information related to our beliefs, current service times, ministerial team, and upcoming events. I would like to extend a personal invitation to you and your family to join us at one of our weekly worship experiences (Sunday at 10:00 AM or Wednesday at 6:30 PM) If you are unable to visit in person check us out on Facebook Live.</h4>
					<p class="text-right"><em>With you in mind and the city at heart,<br>Pastor Spence Walker</em></p>
			</div>
			<div class="cell location" data-aos="slide-right"
 data-aos-easing="ease-out-cubic"
 data-aos-duration="1000">
				<div class="grid-x grid-margin-x align-middle">
					<div class="cell small-12 medium-5 text-center">
						<h2 id="location" style="color: #333; padding-top: 1em; padding-bottom: 1em;">Where are we located?</h2>
					</div>
					<div class="cell small-12 medium-7 text-center">
						<div class="map-responsive">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d56751.956087821076!2d-88.1472000563309!3d30.723254635352607!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x12770fd799f2d612!2sCenterpointe+Assembly+of+God!5e0!3m2!1sen!2sus!4v1520965786828" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

{% get_featured_events as event %}
<div class="homepage_parallax_2">
	<section class="transparent-section">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell text-center">
					<h1>Featured Event</h1>
					<hr>
				</div>
				<div class="cell small-12 medium-4 text-center align-middle">
				{% image event.image fill-200x150 %}
				</div>
				<div class="cell small-12 medium-8">
					<h2>{{ event.title }} - {{ event.datetime|date:"d M Y" }} - {{ event.datetime|date:"P" }}</h2>
					{{ event.summary|richtext|truncatewords:75 }}
				</div>
			</div>
		</div>
	</section>
</div>


{% get_verse as verse %}
<div class="homepage_parallax_3">
	<section class="transparent-section">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell" style="color: black; padding-top: 6em; padding-bottom: 6em;">
					<h3 style="color: #333;">{{ verse.text }}</h3>
					<p class="text-right" style="color: #333;"><em>{{ verse.verse }}</em></p>
				</div>
			</div>
		</div>
	</section>
</div>


<div class="grid-x grid-margin-x align-middle contact_section text-center">
		<div class="cell small-12 large-4 contact-tile">
			<i class="fi-clock contact_icon"></i>
			<h2>Times</h2>
			<h4>SUNDAYS - 10AM</h4>
			<h4>WEDNESDAYS - 6:30PM</h4>
		</div>
		<div class="cell small-12 large-4 contact-tile">
			<i class="fi-map contact_icon"></i>
			<h2>Location</h2>
			<h4>1375 W I-65 Service Rd N<br>Mobile, AL 36618</h4>
		</div>
		<div class="cell small-12 large-4 contact-tile">
			<i class="fi-telephone contact_icon"></i>
			<h2>Contact</h2>
			<h4>(251) 479-3130</h4>
		</div>
</div>
{% endblock %}